<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <br />
  <br />
  <div class="flex flex-col gap-y-4">
    <div class="flex items-center gap-2">
      <app-button size="xs" outlined>Button</app-button>
      <app-button size="sm" outlined>Button</app-button>
      <app-button size="base" outlined>Button</app-button>
      <app-button size="lg" outlined>Button</app-button>
      <app-button size="xl" outlined>Button</app-button>
    </div>
    <div class="flex items-center gap-2">
      <app-button size="xs" leadingIcon="envelope" outlined>Button</app-button>
      <app-button size="sm" leadingIcon="envelope" outlined>Button</app-button>
      <app-button size="base" leadingIcon="envelope" outlined
        >Button</app-button
      >
      <app-button size="lg" leadingIcon="envelope" outlined>Button</app-button>
      <app-button size="xl" leadingIcon="envelope" outlined>Button</app-button>
    </div>
    <div class="flex items-center gap-2">
      <app-button size="xs" trailingIcon="envelope" outlined>Button</app-button>
      <app-button size="sm" trailingIcon="envelope" outlined>Button</app-button>
      <app-button size="base" trailingIcon="envelope" outlined
        >Button</app-button
      >
      <app-button size="lg" trailingIcon="envelope" outlined>Button</app-button>
      <app-button size="xl" trailingIcon="envelope" outlined>Button</app-button>
    </div>
    <div class="flex items-center gap-2">
      <app-button size="xs" onlyIcon="envelope" outlined>Button</app-button>
      <app-button size="sm" onlyIcon="envelope" outlined>Button</app-button>
      <app-button size="base" onlyIcon="envelope" outlined>Button</app-button>
      <app-button size="lg" onlyIcon="envelope" outlined>Button</app-button>
      <app-button size="xl" onlyIcon="envelope" outlined>Button</app-button>
    </div>
    <div class="flex items-center gap-2">
      <app-button-group>
        <app-button size="xs" onlyIcon="envelope" outlined>Button</app-button>
        <app-button size="sm" onlyIcon="envelope" outlined>Button</app-button>
        <app-button size="base" onlyIcon="envelope" outlined>Button</app-button>
      </app-button-group>
    </div>
    <div class="flex items-center gap-2">
      <app-button-group>
        <app-button size="xs" outlined>Button</app-button>
        <app-button size="sm" outlined>Button</app-button>
        <app-button size="base" outlined>Button</app-button>
      </app-button-group>
    </div>
    <div class="flex items-center gap-2">
      <app-button-group>
        <app-button size="xs" trailingIcon="envelope" outlined
          >Button</app-button
        >
        <app-button size="sm" trailingIcon="envelope" outlined
          >Button</app-button
        >
        <app-button size="base" trailingIcon="envelope" outlined
          >Button</app-button
        >
      </app-button-group>
    </div>
    <div class="flex items-center gap-2">
      <app-button-group>
        <app-button size="xs" leadingIcon="envelope" outlined
          >Button</app-button
        >
        <app-button size="sm" leadingIcon="envelope" outlined
          >Button</app-button
        >
        <app-button size="base" leadingIcon="envelope" outlined
          >Button</app-button
        >
      </app-button-group>
    </div>
  </div>
</div>
