<svg
  class="animate-spin text-white"
  [ngClass]="classNames"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24">
  <circle
    class="opacity-25"
    cx="12"
    cy="12"
    r="10"
    fill="none"
    stroke-width="4"
    style="
      stroke: currentColor;
      stroke-dasharray: 80px, 200px;
      stroke-dashoffset: 0;
      stroke-linecap: round;
    "></circle>
  <circle
    cx="12"
    cy="12"
    r="10"
    fill="none"
    stroke-width="4"
    style="
      stroke: currentColor;
      stroke-dasharray: 20px, 200px;
      stroke-dashoffset: 0;
      stroke-linecap: round;
    "></circle>
</svg>
