<div class="rounded-md border-2 border-zinc-800">
  <div class="flex items-center rounded-md">
    @if (leadingAddOn) {
      <span class="inline-flex items-center bg-transparent px-3 sm:text-sm">{{
        leadingAddOn
      }}</span>
      <app-divider />
    }
    @if (leadingIcon || leadingInlineAddOn) {
      <div class="pointer-events-none flex items-center pl-3">
        @if (leadingIcon) {
          <app-icon icon="envelope" size="xl" />
        }
        @if (leadingInlineAddOn) {
          <span class="text-gray-500 sm:text-sm">{{ leadingInlineAddOn }}</span>
        }
      </div>
    }
    <input
      type="text"
      name="company-website"
      id="company-website"
      class="block w-full min-w-0 flex-1 border-none bg-transparent px-3 py-2 focus:ring-0 sm:text-sm"
      placeholder="{{ placeholder }}" />
    @if (trailingIcon || trailingInlineAddOn) {
      <div class="pointer-events-none flex items-center pr-3">
        @if (trailingIcon) {
          <app-icon icon="envelope" size="xl" />
        }
        @if (trailingInlineAddOn) {
          <span class="text-gray-500 sm:text-sm" id="price-currency">{{
            trailingInlineAddOn
          }}</span>
        }
      </div>
    }
    @if (trailingAddOn) {
      <app-divider />
      <span class="inline-flex items-center bg-transparent px-3 sm:text-sm">{{
        trailingAddOn
      }}</span>
    }
  </div>
</div>
