<main class="main">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <nav>
      <ul class="text-white">
        <li class="inline-flex gap-4">
          <a
            href="/button-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Button Page</a
          >
          <a
            href="/input-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Input Page</a
          >
        </li>
      </ul>
    </nav>
  </div>
</main>

<router-outlet />
