<main class="main">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <nav>
      <ul class="text-white">
        <li class="inline-flex gap-4">
          <a
            href="/button-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Button Page</a
          >
          <a
            href="/input-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Input Page</a
          >
          <a
            href="/badge-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Badge Page</a
          >
          <a
            href="/radio-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Radio Page</a
          >
          <a
            href="/checkbox-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Checkbox Page</a
          >
          <a
            href="/code-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Code Page</a
          >
          <a
            href="/accordion-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Accordion Page</a
          >
        </li>
      </ul>
    </nav>
    <div class="mt-4">
      <app-accordion>
        <app-accordion-item>
          <app-accordion-header>
            <app-input leadingAddOn="key"></app-input>
          </app-accordion-header>
          <app-accordion-body>
            <app-input leadingAddOn="value"></app-input>
          </app-accordion-body>
        </app-accordion-item>
      </app-accordion>
    </div>
  </div>
</main>

<router-outlet />
