<main class="main">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <nav>
      <ul class="text-white">
        <li class="inline-flex gap-4">
          <a
            href="/button-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Button Page</a
          >
          <a
            href="/input-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Input Page</a
          >
          <a
            href="/badge-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Badge Page</a
          >
          <a
            href="/radio-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Radio Page</a
          >
          <a
            href="/checkbox-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Checkbox Page</a
          >
          <a
            href="/code-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Code Page</a
          >
          <a
            href="/accordion-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Accordion Page</a
          >
        </li>
      </ul>
    </nav>
    <div class="mt-4">
      <app-accordion>
        <app-accordion-item>
          <app-accordion-header>
            <app-input leadingAddOn="key"></app-input>
          </app-accordion-header>
          <app-accordion-body>
            <app-input leadingAddOn="value"></app-input>
            <app-radio-group label="Elements">
              <app-radio value="body">body</app-radio>
              <app-radio value="title">title</app-radio>
              <app-radio value="table">table</app-radio>
              <app-radio value="h1">h1</app-radio>
              <app-radio value="img">img</app-radio>
              <app-radio value="p">p</app-radio>
              <app-radio value="div">div</app-radio>
              <app-radio value="video">video</app-radio>
              <app-radio value="ul">ul</app-radio>
            </app-radio-group>
            <app-checkbox-group label="Attributes">
              <app-checkbox value="flex">flex</app-checkbox>
              <app-checkbox value="items-center">items-center</app-checkbox>
              <app-checkbox value="text-white">text-white</app-checkbox>
              <app-checkbox value="max-w-7xl">max-w-7xl</app-checkbox>
              <app-checkbox value="mx-auto">mx-auto</app-checkbox>
              <app-checkbox value="flex-wrap">flex-wrap</app-checkbox>
              <app-checkbox value="gap-x-3">gap-x-3</app-checkbox>
              <app-checkbox value="px-6">px-6</app-checkbox>
              <app-checkbox value="mt-4">mt-4</app-checkbox>
            </app-checkbox-group>
          </app-accordion-body>
        </app-accordion-item>
      </app-accordion>
    </div>
  </div>
</main>

<router-outlet />
