<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <br />
  <br />
  <div class="flex flex-col gap-y-4">
    <div class="flex items-center gap-2">
      <app-input leadingIcon="envelope"></app-input>
    </div>
    <div class="flex items-center gap-2">
      <app-input trailingIcon="envelope"></app-input>
    </div>
    <div class="flex items-center gap-2">
      <app-input leadingAddOn="http:///////////////"></app-input>
    </div>
    <div class="flex items-center gap-2">
      <app-input trailingAddOn="http:////////////////"></app-input>
    </div>
    <div class="flex items-center gap-2">
      <app-input leadingInlineAddOn="http:////////"></app-input>
    </div>
    <div class="flex items-center gap-2">
      <app-input trailingInlineAddOn="http://"></app-input>
    </div>
  </div>
</div>
