<div class="flex items-start space-x-4">
  <div class="min-w-0 flex-1">
    <div
      class="flex items-end overflow-hidden rounded-lg border-2 border-zinc-800 p-1">
      <textarea
        rows="1"
        name="comment"
        id="comment"
        class="no-scrollbar m-auto block w-full resize-none border-0 bg-transparent focus:ring-0 sm:text-sm"
        placeholder="{{ placeholder }}"
        #textareaRef
        (input)="updateTextareaHeight()"></textarea>
      <app-button onlyIcon="arrow-right" outlined></app-button>
    </div>
  </div>
</div>
