<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <br />
  <br />
  <app-radio-group>
    <app-radio value="body">body</app-radio>
    <app-radio value="p">p</app-radio>
    <app-radio value="select">select</app-radio>
    <app-radio value="table">table</app-radio>
    <app-radio value="input">input</app-radio>
    <app-radio value="form">form</app-radio>
    <app-radio value="ul">ul</app-radio>
    <app-radio value="video">video</app-radio>
    <app-radio value="p">p</app-radio>
    <app-radio value="select">select</app-radio>
    <app-radio value="table">table</app-radio>
    <app-radio value="input">input</app-radio>
    <app-radio value="form">form</app-radio>
    <app-radio value="ul">ul</app-radio>
    <app-radio value="video">video</app-radio>
    <app-radio value="p">p</app-radio>
    <app-radio value="select">select</app-radio>
    <app-radio value="table">table</app-radio>
    <app-radio value="input">input</app-radio>
    <app-radio value="form">form</app-radio>
    <app-radio value="ul">ul</app-radio>
    <app-radio value="video">video</app-radio>
    <app-radio value="p">p</app-radio>
    <app-radio value="select">select</app-radio>
    <app-radio value="table">table</app-radio>
    <app-radio value="input">input</app-radio>
    <app-radio value="form">form</app-radio>
    <app-radio value="ul">ul</app-radio>
    <app-radio value="video">video</app-radio>
  </app-radio-group>
</div>
