<div class="rounded-md border-2 border-zinc-800">
  <h3>
    <!-- Expand/collapse question button -->
    <button
      type="button"
      class="group relative flex w-full items-center justify-between py-6 text-left"
      aria-controls="disclosure-1"
      aria-expanded="false">
      <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
      <span class="text-sm font-medium text-gray-900">Features</span>
      <span class="ml-6 flex items-center">
        <!--
                      Heroicon name: outline/plus

                      Open: "hidden", Closed: "block"
                    -->
        <svg
          class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <!--
                      Heroicon name: outline/minus

                      Open: "block", Closed: "hidden"
                    -->
        <svg
          class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 12h-15"></path>
        </svg>
      </span>
    </button>
  </h3>
  <div class="prose prose-sm pb-6" id="disclosure-1">
    <ul role="list">
      <li>Multiple strap configurations</li>

      <li>Spacious interior with top zip</li>

      <li>Leather handle and tabs</li>

      <li>Interior dividers</li>

      <li>Stainless strap loops</li>

      <li>Double stitched construction</li>

      <li>Water-resistant</li>
    </ul>
  </div>
</div>
